body{
    padding-top: 20px;
}

.container{
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.loader {
    display: block;

    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.is-hiden{
    display: none;
}

// 

.cat-info{
    margin-top: 30px;
}

.overlay{
    padding: 15px;
    border: 1px #605c5c solid;
    box-shadow: 5px 5px 5px #9e9c9c;

    display: flex; 
    justify-content: space-between;
    gap: 40px;
}